body {
    margin: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    position: relative;
    display: grid;
}
.titulo-modifier {
    color: #468000;
}
.titulo {
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0;
}
.titulo a:hover{
    text-decoration: none;
}
.menu{
    filter: invert(98%) sepia(2%) saturate(731%) hue-rotate(220deg) brightness(121%) contrast(100%);
}
header> .container-fluid{
    display: flex;
    position: absolute;
    height: 46px;
    align-items: center;
    justify-content: space-between;
}
.sand{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav{
    border-right: solid white 1px;
    padding-right: 1rem; 
    margin-bottom: 2px;
}
.pais{
    background-color: green;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 0 5px;
    margin-top: 3px;
}
main > .container-fluid{
    height: 600px;
    background-image: url(../assets/hero.jpg);
    background-repeat: norepeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: grid;
    gap: 0;
}
.hero{
    color: white;
    padding: 50% 0 10%;
    box-sizing: border-box;
    height: 25rem;
}
@media (min-width: 800px){
    .hero{
        padding: 400px 0 80px;
    }
}
.hero-text > p {
    font-size: 15px;
}
.cta-filtro{
    height: 23px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 32px 0;
}
.cta-b{
    font-size: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 30px;
}
.cta-b:hover{
    background-color: #cd7325;
    border: 1px solid #cd7325;
}
.cta > .container-lg{
    background-color: white;
    padding: 10px 0;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, .2);
}
.col-md {
    background-color: white;
    padding: 2px;
    box-sizing: border-box;
    font-size: small;
    margin: 12px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 51px;
    border-radius: 10px;
    vertical-align: middle;
    font-weight: 550;
}
.busca-b{
    width: 100%;
    height: 51px;
    color: white;
    background-color: #468000;
    border: 0 transparent;
    font-size: 15px;
    border-radius: 10px;
}
.banner {
    height: 15%;
    width: 100%;
    background-color: white;
}
@media (min-width: 768px){
    .col-md{
        line-height: 10px;
    }
}
@media (min-width: 900px){
    form {
        display: flex;
    }
    .banner {
        height: 2%;
    }
}
article{
    margin-top: 48px;
    height: 570px;
}
article > p{
    color:#cd7325;
    margin-bottom: 3px;
}
article > h4{
    font-weight: 500;
}
article{
    padding: 50px 0;
}
.hoteis{
    width: 90%;
    height: 350px;
    background-color: black;
    margin: 32px 0;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
}
.card{
    width: 18rem;
}
.card-body > p , .card-body > h5{
    margin: 4px 0;
}
.card-body>h5{
    font-size: 20px;
    font-weight: 650;
    margin: 2px 0;
}
.card-body > p{
    font-size: 11px;
}
.preco{
    font-size: 13px;
}
.card-body > .btn {
    width: 250px;
}
.destinos{
    height: 400px;
    width: 100%;
    display: flex;
    background-image: url(../assets/destino.png);
    background-position: center;
    background-repeat: norepeat;
    background-size: cover;
    align-items: center;
}
.destinos > .container-sm{
    color: white;
    text-shadow: -1px 00 0 #7d7d7d, 1px 0 0 #7d7d7d, -1px 0 0 #7d7d7d, 1px 0 0 #7d7d7d;
}
.call-b {
	width: 400px;
	height: 51px;
	color: white;
	background-color: rgb(70, 128, 0);
	border: 0px none transparent;
	font-size: 15px;
	border-radius: 10px;
}
.blog{
    height: 400px;
    width: 100%;
    display: flex;
    background-image: url(../assets/blog.jpg);
    background-position: center;
    background-repeat: norepeat;
    background-size: cover;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
}