body{
    margin: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: black;
    position: relative;
    display: grid;
}
.titulo-modifier {
    color: #559A00;
}
.titulo {
    text-transform: uppercase;
    color: black;
    font-weight: 650;
    font-size: 1.5rem;
}
.titulo{
    text-decoration: none;
}
.titulo a:hover{
    text-decoration: none;
}
.barra{
    display: flex;
    height: 46px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-top: 1%;
}
.sand{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.nav{
    border-right: solid #7D7D7D 1px;
    padding-right: 1rem; 
}
.btn{
    background-color: #559A00;
}
.login {
    /* background-color: blue; */
    height: 420px;
    padding: 20% 0;
    display: grid;
}
.botoes{
    display: flex;
    width: 100%;
   justify-content: space-around;
}
.botao{
    font-family: 'Poppins', sans-serif;
    width: 155px;
    height: 44px;
    border: solid 2px #559A00;
    border-radius: 10px;
}
.botao-a{
    background-color: #559A00;
    color: white;
}
.botao-b{
    background-color: white;
    color:#559A00;
}

